<h1>Team Recruiting App</h1>
<ul>
    <% @users.each do |user| %>
        <li>
        <%= link_to user.name, users_show_path(user.id) %>
        </li>
    <% end %>
</ul>

<%= link_to "Sign up now!", signup_path, class:"btn btn-lg btn-primary" %>
</div>