<h2>プロフィール</h2>
    <ul>
        <li><%#= @scout.user_id %></li>
        <li><%= @scout.name %></li>
        <li><%= @scout.introduction %></li>
        <li><%= @scout.active_week %></li>
        <li><%= @scout.mm_rank %></li>
    </ul>
