<h2>プロフィール</h2>
    <ul>
        <div class="scout_show">
            <li><%#= @scout.user_id %></li>
            プレイヤー名<br/><li><%= @scout.name %></li>
            自己紹介<br/><li><%= @scout.introduction %></li>
            イン率<br/><li><%= @scout.active_week %></li>
            MMのランク<br/><li><%= @scout.mm_rank %></li>
        </div>
    </ul>
