@import "bootstrap";

/* mixins,variables,etc, */
$gray-medium-light:#727171;
$gray-light:#f0f0f0;
$gray-darker:#4b4b4b;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* universal */

body {
  padding-top:80px;
}

section {
  overflow:auto;
}

textarea {
  resize:vertical;
}

.center {
  text-align:center;
  h1{
    margin-bottom:10px;
  }
}

.container-fluid{
    background-color: #f0f0f0;
    border-radius: 4px; 
    padding: 50px 0 30px 0;
  
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height:1;
}
  h1 {
    font-size:3em;
    letter-spacing:-2px;
    margin-bottom:30px;
    text-align:center;
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align:center;
    font-weight:normal;
    color: #000000;
  }

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul {
  list-style: none;
  padding: left;
}

/* typography */

/* header */

#logo {
  background: white;
  float:left;
  margin-right:10px;
  border:solid 1.5px black;
  font-size:1.7em;
  color:Black;
  text-transform:uppercase;
  letter-spacing:-1px;
  padding:9px;
  font-weight:bold;
  &:hover {
    color:$gray-darker;
    text-decoration:none;
  }
}

/* header ENDLINE */

/* footer */

footer {
  margin-top:45px;
  padding-top:5px;
  border-top:1px solid #eaeaea;
  color: $gray-light;
  a {
    color:gray;
    &:hover{
      color:$gray-darker;
    }
  }

  small {
    float:left;
  }

  ul {
    float:right;
    list-style:none;
    li {
      float:left;
      margin-left:15px;
    }
  }
} 

/*footer ENDLINE*/

/*miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

/* miscellaneous ENDLINE */


/* sidebar */

aside {
  section.user_info{
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* sidebar ENDLINE */


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .is-invalid;
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -5px;
  margin-bottom: 20px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* forms ENDLINE */

/* scout board */

.user_board {
  background:#d6d6d6b6;
  width:950px;
  height:45px;
  margin-top:25px;
  padding:15px 0 100px 0;
  font-size:1.1em;
  color:Black; 
  /*text-transform:uppercase;*/
  letter-spacing:-1px;
  /*padding-bottom:20px;*/
  /*font-weight:bold;*/
  :hover {
    color:$gray-darker;
    /*text-decoration:none;*/
  }

  .board_info  {
    background:#d6d6d6b6;
    width:930px;
    height:55px;
    margin: 10px;
    border-top: solid 2px gray;
    padding:0 10px 50px 10px; 
    font-size:0.8em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.3px;
    color: $gray-darker;
    
  }
}

.scout_show {
  background: $gray-light;
  width:950px;
  margin-left: 15px;
  padding:45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:0.9em;
  color: Black;


  li {
    float: none;
    margin-top: 13px;
    border-bottom:solid 1px black;
    font-size:1.1em;
    font-weight:bold;
    
  }

}

/* scout board ENDLINE */


/* search bar STARTLINE */

.search_bar  {
  float:center;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;

}

/* search bar ENDLINE */