<footer class="footer">
  <small>
    <%= link_to "Team Recruiting App", root_path %>
    by <a href="http://www.twiiter.com/Iorin_dokugaku">Kazamaki</a>
  </small>
  <nav>
    <ul>
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
